<h1>employee management system</h1>
<table>
    <thead>
        <tr><td>s.no</td>
            <td>name</td>
             <td>age</td>
              <td>roll</td>
               <td>salary</td>
                <td>gender</td>
                 <td>phone number</td>
                 <td>Edit</td>
                 <td>Delete</td>

        </tr>
        
    </thead>
    <tbody>
        <tr><td>1</td>
            <td>
                vignesh

            </td>
            <td>21
                
            </td>
            <td>senior developer
                
            </td>
            <td>
                1,00,000
                
            </td>
            <td>male
                
            </td>
            <td>8122081012
                
            </td>
            <td><a href="#" class="edit">Edit</a></td>
            <td><a href="#" class="delete">delete</a></td>
        </tr>
        <tr><td>2</td>
            <td>aaaaa
                
            </td><td>21
                
            </td><td>manager
                
            </td><td>1,50,000
                
            </td><td>female
                
            </td><td>
               67787878787
                
            </td>
            <td><a href="#" class="edit">Edit</a></td>
            <td><a href="#" class="delete">delete</a></td>
                
            
        </tr>
        <tr><td>1</td>
            <td>
                vignesh

            </td>
            <td>21
                
            </td>
            <td>senior developer
                
            </td>
            <td>
                1,00,000
                
            </td>
            <td>male
                
            </td>
            <td>8122081012
                
            </td>
            <td><a href="#" class="edit">Edit</a></td>
            <td><a href="#" class="delete">delete</a></td>
        </tr>
        <tr><td>2</td>
            <td>jbbbbi
                
            </td><td>21
                
            </td><td>manager
                
            </td><td>1,50,000
                
            </td><td>female
                
            </td><td>
             767887877
                
            </td>
            <td><a href="#" class="edit">Edit</a></td>
            <td><a href="#" class="delete">delete</a></td>
                
            
        </tr>
        <tr><td>1</td>
            <td>
                vignesh

            </td>
            <td>21
                
            </td>
            <td>senior developer
                
            </td>
            <td>
                1,00,000
                
            </td>
            <td>male
                
            </td>
            <td>8122081012
                
            </td>
            <td><a href="#" class="edit">Edit</a></td>
            <td><a href="#" class="delete">delete</a></td>
        </tr>
        <tr><td>2</td>
            <td>fffff
                
            </td><td>21
                
            </td><td>manager
                
            </td><td>1,50,000
                
            </td><td>female
                
            </td><td>
             868767988
                
            </td>
            <td><a href="#" class="edit">Edit</a></td>
            <td><a href="#" class="delete">delete</a></td>
                
            
        </tr>
        <tr><td>1</td>
            <td>
                vignesh

            </td>
            <td>21
                
            </td>
            <td>senior developer
                
            </td>
            <td>
                1,00,000
                
            </td>
            <td>male
                
            </td>
            <td>8122081012
                
            </td>
            <td><a href="#" class="edit">Edit</a></td>
            <td><a href="#" class="delete">delete</a></td>
        </tr>
        <tr><td>2</td>
            <td>vvvkk
                
            </td><td>21
                
            </td><td>manager
                
            </td><td>1,50,000
                
            </td><td>female
                
            </td><td>
                769796776
                
            </td>
            <td><a href="#" class="edit">Edit</a></td>
            <td><a href="#" class="delete">delete</a></td>
                
            
        </tr>
</table>